.customers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers__item {
    width: 170px;
    height: 92px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}
.customers__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid $icon-color;
    color: $icon-color;

    transition: color $timing-function, border-color $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
        border-color: $accent-color;
    }
}