.features {
    display: flex;
    justify-content: center;
}

.features__item {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.features__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $secondary-background-color;
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16.41 / 14);
}

.features__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--text-color);
}