body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: $title-color;
    background-color: $background-color;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.link {
    text-decoration: none;
}

.button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &--grey {
        background-color: $secondary-background-color;
    }

    &--no-padding-top {
        padding-top: 0;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.title {
    text-align: center;
    color: $title-color;

    @media screen and (min-width: $mobile) {
        font-size: 28px;
        line-height: 1;
        margin-bottom: 30px;
        }
    
    @media screen and (min-width: $desktop) {
        font-size: 36px;
        line-height: calc(42.19 / 36);
        margin-bottom: 50px;
    }
}

.icon {
    fill: currentColor;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}